<?xml version="1.0"?>
<launch>
    <arg name="load_realsense_driver"   default="true"/>
    <arg name="yolo"                    default="true"/>
    <arg name="visualization"           default="true"/>
    <arg name="play_from_bagfile"       default="false"/>

    <arg name="depth_image_topic" default="/spencer/sensors/rgbd_front_top/depth/image_rect_raw"/>
    <arg name="camera_info_topic" default="/spencer/sensors/rgbd_front_top/depth/camera_info"/>

    <!-- Output Variable -->
    <arg name="detected_persons_pub_topic" default="/spencer/perception_internal/detected_persons/rgbd_front_top/upper_body"/>
    <!-- <arg name="detected_persons_pub_topic" default="/spencer/perception_internal/detected_persons/rgbd_front_top/hog"/> -->
    <arg name="detection_id_offset" default="0"/>
    <arg name="detection_id_increment" default="1"/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" if="$(arg load_realsense_driver)">
        <arg name="camera" value="/spencer/sensors/rgbd_front_top"/>
        <arg name="tf_prefix" value="rgbd_front_top"/>
    </include>
    
    <node pkg="rosbag" type="play" name="player" output="screen" args="-l --clock /home/alex-beh/ros1_ws/learn_ws/src/realsense_yolo/launch/bagfile/realsense_bag_tf.bag" if="$(arg play_from_bagfile)"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="yolo_to_camera" args="0 0 0 -1.5708 0 -1.5708 rgbd_front_top_link camera_link_yolo 10"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="yolo_to_camera" args="0 0 0 -1.5708 0 -1.5708 base_footprint camera_link_yolo 10"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="yolo_to_camera" args="0 0 0 -1.5708 0 -1.5708 rgbd_front_top_link camera_link_yolo 100" if="$(arg load_realsense_driver)" /> -->
    
    <node pkg="realsense_yolo" type="realsense_yolo" name="yolov3_detector" output="screen" launch-prefix="">
        <param name="depth_image_topic" value="$(arg depth_image_topic)"/> 
        <param name="camera_info_name" value="$(arg camera_info_topic)"/>
        <param name="detection_output" value="$(arg detected_persons_pub_topic)"/>
    </node>
    
    <group if="$(arg yolo)">
    
        <!-- darknet_ros.launch: 30fps | yolo_v3: 5fps++-->
        <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>       
        <!-- <include file="$(find darknet_ros)/launch/yolo_v3.launch"/>            -->
        
    </group>

    <group unless="$(arg yolo)">
        <include file="$(find dnn_detect)/launch/dnn_detect.launch"/>       
        <node pkg="realsense_yolo" type="mobilessd_adaptor" name="mobilessd_adaptor"/>
    </group>

    <!-- RViz visualization -->
    <node name="tracking_visualization_rviz" pkg="rviz" type="rviz" args="-d /home/alex-beh/ros1_ws/learn_ws/src/realsense_yolo/launch/rviz/realsense_yolo.rviz" if="$(arg visualization)"/>


</launch>
