<?xml version="1.0"?>
<launch>

    <arg name="load_realsense_driver"   default="true"/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" if="$(arg load_realsense_driver)">
        <arg name="camera" value="/spencer/sensors/rgbd_front_top"/>
        <arg name="tf_prefix" value="rgbd_front_top"/>
    </include>

</launch>
